section.popular
  .popular__container
    h2.popular__title Популярне сьогодні
    
    .popular__news
      each link in popular
        div(class=link.lg ? 'popular__item popular-link popular-link_lg' : 'popular__item popular-link')
          .popular-link__img
            a.popular-link__img-container.play(href="#")
              img(src=`${link.img}`, alt=`${link.title}`)
                
            .popular-link__labels
              a.popular-link__cat(href="#") #{link.cat}
              a.popular-link__tag(href="#") #{link.tag}
            
          a.popular-link__title(href="#") #{link.title}
          if link.excerpt
            p.popular-link__excerpt #{link.excerpt}
